<!-- [ Header ] start -->
<header class="pc-header">
    <div class="header-wrapper">
        <div class="py-3">
            <!-- Page Title with Icon -->
            <div class="d-flex align-items-center">
                <span class="text-primary fs-4 me-2">
                    {% if title == 'Crawling' %}
                    <i class="fas fa-globe"></i>
                    {% elif title == 'Sentiment Classification' %}
                    <i class="fas fa-comments"></i>
                    {% elif title == 'Insight' %}
                    <i class="fas fa-chart-pie"></i>
                    {% endif %}
                </span>
                <div>
                    <h2 class="m-0 fw-bold text-dark">{{ title }}</h2>
                </div>
            </div>
        </div>

        <div class="ms-auto">
            <ul class="list-unstyled">
                <li class="dropdown pc-h-item">
                    <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
                        role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="/static/assets/images/user/user.png" alt="user-image" class="user-avtar">
                        <span>
                            <span class="user-name">
                                {{ request.user.username }}
                            </span>
                            <span class="user-desc">
                                {{ request.user.email }}
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
                        <form action="{% url 'logout' %}" method="POST" style="display: none;" id="logout-form">
                            {% csrf_token %}
                        </form>
                        <a href="#" class="dropdown-item"
                            onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            <i class="material-icons-two-tone">exit_to_app</i> <!-- Logout icon -->
                            <span>Logout</span>
                        </a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</header>
<!-- [ Header ] end -->