<!-- [ navigation menu ] start -->
<nav class="pc-sidebar">
	<div class="navbar-wrapper">
		<div class="m-header">
			<a href="/crawling" class="b-brand">
				<!-- <img src="/static/assets/images/logo.svg" alt="" class="logo logo-lg"> -->
				<!-- <img src="/static/assets/images/logo-sm.svg" alt="" class="logo logo-sm"> -->
				<h4 class="text-white">Sentiment Analysis</h4>
			</a>
		</div>
		<div class="navbar-content">
			<ul class="pc-navbar">
				<li class="pc-item pc-caption">
					<label>Data</label>
				</li>
				<li class="pc-item">
					<a href="/crawling" class="pc-link">
						<span class="pc-micon">
							<i class="material-icons-two-tone">language</i>
						</span>
						<span class="pc-mtext">Crawling</span>
					</a>
				</li>
				<li class="pc-item pc-caption">
					<label>Analysis</label>
				</li>
				<li class="pc-item">
					<a href="/sentiment-classification" class="pc-link">
						<span class="pc-micon">
							<i class="material-icons-two-tone">list_alt</i>
						</span>
						<span class="pc-mtext">Sentiment Classification</span>
					</a>
				</li>
				<li class="pc-item pc-caption">
					<label>Insight</label>
				</li>
				<li class="pc-item">
					<a href="/insight" class="pc-link">
						<span class="pc-micon">
							<i class="material-icons-two-tone">bubble_chart</i>
						</span>
						<span class="pc-mtext">Insight</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- [ navigation menu ] end -->