{% extends "layouts/base-fullscreen.html" %}

{% block title %} Error 403 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- Add custom styles for the login page -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<style>
	body {
		font-family: 'Poppins', sans-serif;
		background-color: #f4f7fc;
	}
</style>
{% endblock stylesheets %}
{% block content %}

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<!-- <img src="/static/assets/images/logo-dark.svg" alt="" class="img-fluid mb-4"> -->
						<h4 class="mb-3 f-w-400">
							Error 403
						</h4>
						<p>
							Access Denied - Please contact support.
						</p>
						<br />
						<p class="mb-0 text-muted">Have an account?
							<a href="{% url 'login' %}" class="f-w-400">Login</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}